/* CSS Reset */

/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
canvas {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
}

/* Remove text decoration on links */
a {
  text-decoration: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


html {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green{
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

#paper {
    width: 100vw;
    height: 95vh;
}